body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
  color: white;
  text-align: center;
}
#main{
  width: 100vw;
  height: 96.5vh;
  margin: 0 0 0 0;
  padding : 0 0 0 0;
}
p{
  margin: 0 0 0 0;
  float: right;
  font-size: 1.8em;
  line-height: 3.5vh;
}
.actions{
  float: left;
}
.actions button{
  height: 3.5vh;
}
